.DS_Store


build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
*.jks
!debug.keystore
android/app/google-services.json
services/db/firebaseConfig.ts
.env
.env.*
*.p12
*.pfx
*.pem
*.key
*.p8
*.cer
*.mobileprovision
**/serviceAccountKey.json
**/*credential*.json
**/*credentials*.json
.kotlin/


node_modules/
npm-debug.log
yarn-error.log


**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output


*.jsbundle




.metro-health-check*


/coverage


.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
